# Arduino compiled files
*.hex
*.elf
*.bin
*.eep

# Arduino build and cache folders
build/
*.d
*.dep
*.o
*.a
*.lst

# Arduino IDE backup files
*.bak

# Arduino IDE metadata
*.sdf
*.opensdf
*.suo
*.user
*.userprefs
*.pro.user
*.vcxproj*
*.cproject
*.project
*.idea/

# macOS metadata
.DS_Store

# Windows metadata
Thumbs.db

# PlatformIO (if used)
.pio/
.vscode/

# Never include secrets files
arduino_secrets.h
auxiliary.h
